In [26]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/customer-1/customer1_dataset.csv

In [27]:
data =pd.read_csv("/kaggle/input/customer-1/customer1_dataset.csv",parse_dates=['purchase_date'])

In [28]:
data["saleYear"] = data.purchase_date.dt.year
data["saleMonth"] = data.purchase_date.dt.month
data["saleDay"] = data.purchase_date.dt.day
data["saleDayofWeek"] = data.purchase_date.dt.dayofweek
data["saleDayofYear"] = data.purchase_date.dt.dayofyear

In [29]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   customer_id           10000 non-null  object
 1   session_id            10000 non-null  int64
 2   interaction_type      10000 non-null  object
 3   product_id            10000 non-null  object
 4   category              10000 non-null  object
 5   location              7877 non-null   object
 6   browsing_history      10000 non-null  object
 7   cart_items            10000 non-null  object
 8   saved_for_later       10000 non-null  object
 9   purchase_status       10000 non-null  object
 10  purchase_date         10000 non-null  datetime64[ns]
 11  discounted            10000 non-null  bool
 12  feedback_rating       7075 non-null   float64
 13  preferred_categories  10000 non-null  object
 14  saleYear              10000 non-null  int32
 15  saleMonth             10000 non-null  int32
 16  saleDay               10000 non-null  int32
 17  saleDayofWeek         10000 non-null  int32
 18  saleDayofYear         10000 non-null  int32
dtypes: bool(1), datetime64[ns](1), float64(1), int32(5), int64(1), object(10)
memory usage: 1.2+ MB

In [30]:
data.isna().sum()

customer_id                0
session_id                 0
interaction_type           0
product_id                 0
category                   0
location                2123
browsing_history           0
cart_items                 0
saved_for_later            0
purchase_status            0
purchase_date              0
discounted                 0
feedback_rating         2925
preferred_categories       0
saleYear                   0
saleMonth                  0
saleDay                    0
saleDayofWeek              0
saleDayofYear              0
dtype: int64

In [31]:
data["location"]=data["location"].fillna("unrecorded")

In [32]:
data["feedback_rating"]=data["feedback_rating"].fillna(int(np.random.randint(5)))

In [33]:
data.sort_values(by=['purchase_date'],inplace=True,ascending=True)

In [34]:
data

,customer_id,session_id,interaction_type,product_id,category,location,browsing_history,cart_items,saved_for_later,purchase_status,purchase_date,discounted,feedback_rating,preferred_categories,saleYear,saleMonth,saleDay,saleDayofWeek,saleDayofYear
8937,customer1,68,offline,P0143,Home Decor,Chicago,"['Electronics', 'Groceries']","['P0436', 'P0357']",['P0206'],Purchased,2024-01-01,False,5.0,Clothing,2024,1,1,0,1
697,customer1,42,offline,P0056,Clothing,New York,['Groceries'],"['P0182', 'P0034']",[],Purchased,2024-01-01,False,4.0,Electronics,2024,1,1,0,1
2332,customer1,49,offline,P0393,Books,unrecorded,"['Books', 'Home Decor', 'Electronics']","['P0131', 'P0308']",['P0067'],Purchased,2024-01-01,False,1.0,Clothing,2024,1,1,0,1
2696,customer1,70,online,P0362,Home Decor,New York,['Home Decor'],['P0198'],['P0088'],Purchased,2024-01-01,False,1.0,Books,2024,1,1,0,1
1713,customer1,28,offline,P0370,Clothing,unrecorded,"['Books', 'Books', 'Groceries', 'Electronics']","['P0298', 'P0395', 'P0429']",[],Purchased,2024-01-01,False,5.0,Books,2024,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7093,customer1,26,offline,P0151,Clothing,New York,"['Clothing', 'Electronics', 'Clothing', 'Cloth...",['P0405'],[],Purchased,2024-12-30,False,4.0,Groceries,2024,12,30,0,365
3181,customer1,63,offline,P0477,Home Decor,Chicago,"['Books', 'Home Decor', 'Books', 'Books']","['P0218', 'P0420', 'P0451']",[],Not Purchased,2024-12-30,True,1.0,Books,2024,12,30,0,365
4350,customer1,60,online,P0329,Home Decor,Los Angeles,"['Electronics', 'Electronics']","['P0200', 'P0352', 'P0009']",[],Not Purchased,2024-12-30,True,4.0,Electronics,2024,12,30,0,365
4787,customer1,36,offline,P0343,Electronics,San Francisco,"['Books', 'Clothing']","['P0059', 'P0153', 'P0442']","['P0247', 'P0452']",Purchased,2024-12-30,False,5.0,Clothing,2024,12,30,0,365
6984,customer1,27,offline,P0019,Home Decor,Los Angeles,"['Groceries', 'Groceries', 'Home Decor']","['P0056', 'P0260', 'P0407']","['P0425', 'P0066']",Purchased,2024-12-30,False,3.0,Clothing,2024,12,30,0,365

In [35]:
for label,content in data.items():
    if pd.api.types.is_object_dtype(content):
        print(label)

customer_id
interaction_type
product_id
category
location
browsing_history
cart_items
saved_for_later
purchase_status
preferred_categories

In [36]:
for label,content in data.items():
    if pd.api.types.is_object_dtype(content):
        data[label]=content.astype('category').cat.as_ordered()

In [37]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10000 entries, 8937 to 6984
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   customer_id           10000 non-null  category
 1   session_id            10000 non-null  int64
 2   interaction_type      10000 non-null  category
 3   product_id            10000 non-null  category
 4   category              10000 non-null  category
 5   location              10000 non-null  category
 6   browsing_history      10000 non-null  category
 7   cart_items            10000 non-null  category
 8   saved_for_later       10000 non-null  category
 9   purchase_status       10000 non-null  category
 10  purchase_date         10000 non-null  datetime64[ns]
 11  discounted            10000 non-null  bool
 12  feedback_rating       10000 non-null  float64
 13  preferred_categories  10000 non-null  category
 14  saleYear              10000 non-null  int32
 15  saleMonth             10000 non-null  int32
 16  saleDay               10000 non-null  int32
 17  saleDayofWeek         10000 non-null  int32
 18  saleDayofYear         10000 non-null  int32
dtypes: bool(1), category(10), datetime64[ns](1), float64(1), int32(5), int64(1)
memory usage: 1.1 MB

In [38]:
data["location"].cat.codes

8937    0
697     2
2332    4
2696    2
1713    4
       ..
7093    2
3181    0
4350    1
4787    3
6984    1
Length: 10000, dtype: int8

In [39]:

for label,content in data.items():
    if not pd.api.types.is_numeric_dtype(content):
        # Turn categories into number , and add one
        data[label] = pd.Categorical(content).codes + 1

In [40]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10000 entries, 8937 to 6984
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   customer_id           10000 non-null  int8
 1   session_id            10000 non-null  int64
 2   interaction_type      10000 non-null  int8
 3   product_id            10000 non-null  int16
 4   category              10000 non-null  int8
 5   location              10000 non-null  int8
 6   browsing_history      10000 non-null  int16
 7   cart_items            10000 non-null  int16
 8   saved_for_later       10000 non-null  int16
 9   purchase_status       10000 non-null  int8
 10  purchase_date         10000 non-null  int16
 11  discounted            10000 non-null  bool
 12  feedback_rating       10000 non-null  float64
 13  preferred_categories  10000 non-null  int8
 14  saleYear              10000 non-null  int32
 15  saleMonth             10000 non-null  int32
 16  saleDay               10000 non-null  int32
 17  saleDayofWeek         10000 non-null  int32
 18  saleDayofYear         10000 non-null  int32
dtypes: bool(1), float64(1), int16(5), int32(5), int64(1), int8(6)
memory usage: 595.7 KB